:root {
  --knd-header-background: #fdfcfc;
  background-color: var(--knd-header-background, #fff);
  color: var(--knd-color-menu, #4d606a);
  color: var(--knd-color-menu-hover, #dd1400);
  background: var(--knd-color-main);
  background: var(--knd-color-main);
  background: var(--knd-color-main-active);
  color: var(--knd-color-base);
  background: var(--knd-color-main);
  color: var(--knd-color-white);
  /* PAGE */
  background-color: var(--knd-footer-background);
  color: var(--knd-block-cta-title-color);
  --knd-color-main: #52a52e;
  --knd-color-main-active: #c9006b;
  --knd-page-bg-color: #fdfcfc;
  --knd-page-bg-color-dark: #cacaca;
  --knd-page-text-color-light: #e7ffff;
  --knd-color-base: #4d606a;
  --knd-font-family-base: "Raleway";
  --knd-font-weight-base: 400;
  --knd-font-size-base: 18px;
  --knd-font-style-base: normal;
  --knd-color-headings: #183343;
  --knd-font-family-headings: "Raleway";
  --knd-font-weight-headings: 700;
  --knd-font-style-headings: normal;
  --knd-font-size-menu: 18px;
  --knd-completed-project-color: #4d606a;
  --knd-completed-project-opacity: 0.8;
}

.ally-theme-dark {
  --knd-header-background: #0d1117;
  --knd-color-main: #54c854;
  --knd-color-main-active: #81b39e;
  --knd-color-menu: #DEFEFE;
  --knd-color-menu-hover: #81b39e;
  --knd-page-bg-color: #21262d;
  --knd-page-bg-color-dark: #e6edf3;
  --knd-page-text-color-light: #e6edf3;
  --knd-color-base: #e6edf3;
  --knd-color-headings: #e6edf3;
  --knd-completed-project-color: #939393;
  --knd-social-color: #939393;
  --knd-social-color-hover: #e6edf3;
  --knd-footer-background: #21262d;
  --knd-footer-heading-color: #e6edf3;
  --knd-footer-color: #e6edf3;
  --knd-footer-link-color: #4abaff;
  --knd-footer-link-color-hover: #81b39e;
  --knd-button-color: #0d1117;
  --knd-button-color-hover: #0d1117;
  --knd-color-light-grey: #21262d;
  --knd-preview-background: #808080;
  --knd-bd-gray: #353535;
}
.ally-theme-dark .knd-header-nav {
  --knd-color-menu: #DEFEFE;
  --knd-color-menu-hover: #81b39e;
}
.ally-theme-dark .knd-footer {
  --knd-social-color: #939393;
  --knd-social-color-hover: #e6edf3;
}
.ally-theme-dark .knd-search {
  background-color: rgba(56, 56, 56, 0.85);
}
.ally-theme-dark .knd-search-toggle {
  color: #e6edf3;
}
.ally-theme-dark .knd-search__form .knd-search__input {
  background-color: rgba(56, 56, 56, 0.85);
}
.ally-theme-dark .knd-search__form .knd-search__input::-moz-placeholder {
  color: #e6edf3;
}
.ally-theme-dark .knd-search__form .knd-search__input::placeholder {
  color: #e6edf3;
}
.ally-theme-dark .knd-search-close:before, .ally-theme-dark .knd-search-close:after {
  background-color: #e6edf3;
}
.ally-theme-dark .knd-to-top {
  background-color: #4e4e4e;
}
.ally-theme-dark .knd-to-top:hover .svg-icon {
  fill: #ffffff;
}
.ally-theme-dark .knd-to-top .svg-icon {
  fill: #e6edf3;
}
.ally-theme-dark .wp-block-table.is-style-underline tbody tr:hover {
  background-color: rgba(93, 93, 93, 0.3803921569);
  color: #e6edf3;
}
.ally-theme-dark .social-likes__widget a {
  border: 1px solid #666666;
  background-color: #4e4e4e;
}
.ally-theme-dark .social-likes__widget a:hover {
  background-color: #858585;
}
.ally-theme-dark .social-likes__widget a .svg-icon {
  fill: #e6edf3;
}
.ally-theme-dark .skip-to-main-content-link {
  background-color: var(--knd-color-base);
  color: var(--knd-page-text-color-light);
}/*# sourceMappingURL=colors-theme.css.map */