.wp-block-knd-partners.knd-block-col-4 .knd-block-item {
  flex: 0 0 calc(100% / 4);
  max-width: calc(100% / 4);
  width: calc(100% / 4);

  @media screen and (max-width: 1000px) {
    flex: 0 0 calc(100% / 2);
    max-width: calc(100% / 2);
    width: calc(100% / 2);
  }
  
  @media screen and (max-width: 650px) {
    flex: 0 0 calc(100%);
    max-width: calc(100%);
    width: calc(100%);
  }

}