
.knd-header-nav>.menu .ally {
    a {
        padding: 0;
    }
}

#menu-primary-menu {
    .ally {
        position: relative;

        a {
            padding: 0;

            &:hover,
            &:focus {
                .ally__text {
                    padding: 0.5rem 1rem;
                    display: block;
                    position: absolute;
                    z-index: 500;
                    top: 100%;
                    left: -250%;
                    font-size: 0.8rem;
                    background-color: var(--knd-header-background);
                    border: 2px solid var(--knd-color-menu-hover, #dd1400);
                    ;
                    border-radius: var(--knd-button-border-radius);
                }
            }
        }

        &__icon {
            padding: 5px 5px 0;
            display: block;
        }

        &__text {
            display: none;
        }
    }
}

#menu-primary-menu-1 {
    .ally {
        &__icon {
            display: none;
        }

        &__text {
            display: inline;
        }
    }
}