.skip-to-main-content-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: var(--knd-color-base);
    color: var(--knd-page-bg-color);
    opacity: 0;

    &:focus {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}